.container {
  height: 100vh;
  width: 100vw;
}
.navbar {
  display: flex;
  justify-content: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  color: white;
}
.navbar ul li {
  font-size: 150%;
  padding: 20px;
  border-left: 1px solid white;
  background-color: whitesmoke;
  opacity: 0.8;
}
ul > li > a {
  text-decoration: none;
  text-align: center;
}
ul > li:hover {
  background-color: gray;
  color: rgb(168, 72, 72);
  border-radius: 30%;
}
