.navbar ul {
  list-style: none;
  display: flex;
  color: white;
}
ul li {
  border: 2px solid #fff;
  border-radius: 15px;
  width: 120px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  float: left;
  position: relative;
  background-color: violet;
}
.navbar ul > li > a {
  text-decoration: none;
  text-align: center;
  display: block;
  /* due to display we get hover efect in the backgroun colour also */
}
.navbar ul > li > a:hover {
  background-color: rgb(168, 72, 72);
  color: white;
  border-radius: 15px;
  text-align: center;
  font: small;
}

.navbar ul ul {
  display: none;
  position: absolute;
}
.navbar ul li:hover > ul {
  display: block;
}
.navbar ul ul ul {
  margin-left: 100px;
  top: 0px;
}
